<div id="<%= dom_id aid_proposal %>">
  <table class="table">
  <thead>
  <th> Application info / Інформація про заявку </th>
  <th></th>
  </thead>
  <tbody>
    <tr>
      <td><strong>Name / Ім'я:</strong></td>
      <td><%= aid_proposal.full_name %></td>
    </tr>

    <tr>
      <td><strong>Country / Країна:</strong></td>
      <td><%= aid_proposal.country %></td>
    </tr>

    <tr>
      <td><strong>City / Місто:</strong></td>
      <td><%= aid_proposal.city %></td>
    </tr>

    <tr>
      <td><strong>Description / Опис:</strong></td>
      <td><%= simple_format(aid_proposal.description)%></td>
    </tr>

    <tr>
      <td><strong>Date/ Дата:</strong></td>
      <td><%= aid_proposal.date%></td>
    </tr>

    <tr>
      <td><strong>Contact / Контакт:</strong></td>
      <td><%= simple_format(aid_proposal.contact)%></td>
    </tr>
  </tbody>
  </table>
</div>
