<div id="<%= dom_id aid_proposal %>">
  <p>
    <strong>Full name:</strong>
    <%= aid_proposal.full_name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= aid_proposal.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= aid_proposal.city %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= aid_proposal.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= aid_proposal.date %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= aid_proposal.contact %>
  </p>

  <p>
    <strong>Owner email:</strong>
    <%= aid_proposal.user_email %>
  </p>

</div>
