<h1><%= t('.title')%></h1>

<div
  id="editContainer"
  data-id="<%= @aid_proposal.id %>"
  data-action="<%= aid_proposal_path %>"
  data-method="put"
  data-locale="<%= I18n.locale %>"
></div>

<%= javascript_pack_tag 'aid_proposal_edit' %>
