<p style="color: green"><%= notice %></p>

<h1>Help Ukraine help the world / Допоможіть Україні, щоб допомогти Європі</h1>


<br>
<div class="jumbotron">
<p><%= t('.description') %></p>
</div>
<br>

<h2><%= t('.subtitle') %></h2>
<%# Rendered in react at aid_proposal.jsx. %>
<div id="proposals_container" 
  data-locale="<%= I18n.locale %>"
  data-field="search_query"
  data-action="aid_proposals.json"
></div>

<%= link_to t('.become_volonteer'), new_aid_proposal_path, class: "btn btn-dark" %>
<br>
<br>


<%= javascript_pack_tag 'aid_proposals' %>
