<p style="color: green"><%= notice %></p>

<h1>Aid proposals / Шукаючі гуманітарну допомогу</h1>


<br>
<p>
  На даній сторінці показано список людей, які зараз збирають ресурси для відправки на Україну. Якщо у вас є можливість, будь ласка, зв'яжіться з людьми поряд з вами й допоможіть Україні!
</p>
<br>

<%= form_tag(aid_proposals_path, method: :get, class: 'row g-3') do %>
  <div class="col-auto">
    <%= text_field_tag(:search_query, params[:search_query], class: 'form-control', placeholder: 'Локація') %>
  </div>
  <div class="col-auto">
    <%= submit_tag("Знайти", class: 'btn btn-primary') %>
  </div>
<% end %>

<br>

<% @aid_proposals.each do |aid_proposal| %>
  <%= render :partial => "aid_proposals/card", :locals =>{:aid_proposal => aid_proposal} %>
<% end %>

<%= link_to "Стати волонтером", new_aid_proposal_path, class: "btn btn-info" %>


