<p style="color: green"><%= notice %></p>

<h1><%= t('.title') %></h1>


<br>
<div class="jumbotron">
<p><%= t('.description') %></p>
</div>
<br>
<h2><%= t('.subtitle') %></h2>
<%# Rendered in react at aid_proposal.jsx. %>
<div id="proposals_container" 
  data-locale="<%= I18n.locale %>"
  data-field="search_query"
  data-action="aid_proposals.json"
></div>

<div class="alert alert-info">
 <%= t('.responsibility-notice') %>
</div>

<%= link_to t('shared.header.become-a-volonteer'), new_aid_proposal_path, class: "btn btn-dark" %>
<br>
<br>


<%= javascript_pack_tag 'aid_proposals' %>
