<h1><%= t('.become-volonteer') %></h1>

<div>
<p>
  <%= t('.hello')%><br>
  <%= t('.subtitle')%>
</p>
</div>
<div id="editContainer"
  data-action="<%= aid_proposals_path %>"
  data-method="post"
  data-locale="<%= I18n.locale %>"
></div>

<%= javascript_pack_tag 'aid_proposal_edit' %>
