<% if params[:alert] %>
  <p class="alert alert-primary"><%= t(params[:alert]) %></p>
<% end%>


<%= params[alert] %>
<%= render @aid_proposal %>


  <div class="row">
    <% if user_signed_in? && (current_user.email == @aid_proposal.user_email || current_user.moderator) %>
      <div class="col-4">
        <%= link_to t('proposal.edit'), edit_aid_proposal_path(@aid_proposal), class: "btn btn-outline-dark" %>
      </div>
      <div class="col-4">
      </div>
      <div class="col-4">
        <%= button_to t('proposal.remove_proposal'), @aid_proposal, method: :delete, class: "btn btn-dark" %>
      </div>
    <% end%>
  </div>

  <div class="col-4 mt-2 mb-4">
      <%= link_to t('proposal.all_proposals'), aid_proposals_path, class: "text-dark" %>
  </div>